<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestRun" verbose="1" >
    <test name="KhpppRun" >
        <classes>
            <class name="khppp.tests.LoginTest" />
            <!--<class name="khppp.tests.UsersTest" />-->
            <!--<class name="khppp.tests.BaseCase" />-->
            <class name="khppp.tests.GroupsTest" />
            <class name="khppp.tests.SubgroupTest" />
            <class name="khppp.tests.StatusTest" />
            <class name="khppp.tests.GroupJournalTests"/>
        </classes>
    </test>



<test name="order">
    <classes>
        <class name="khppp.tests.GroupsTest" />
        <class name="khppp.tests.SubgroupTest" />
    </classes>
</test>


</suite>